[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
pandas-datareader = "*"
pillow = "*"
dash = "*"
dash-html-components = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
